PORT=3000
SPREADSHEET_ID=masukkan_id_spreadsheet_anda_disini
GOOGLE_SERVICE_ACCOUNT_EMAIL=email-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMasukkan_Kunci_Rahasia_Anda_Disini\n-----END PRIVATE KEY-----\n"
